*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;   
    /* opacity: 0; */
}



#page1{
    width: 100%;
    height: 90vh;
    /* margin-top: 500px; */
}

#nav{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-logo{
    width: 50px;
    height: 45px;
}

#nav-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#nav-links{
    display: flex;
    gap:90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav-links a{
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

#nav-links a:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 10px;
}

#nav-icon{
    font-size: 1.3rem;
}

#page1-video-text1{
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

#page1-video-text1 i{
    font-size: 1.5rem;
    padding-left: 4px;
}

#page1-video-text1:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}


#page1-video-text2{
    width: 100%;
    height: 90vh;
    background-color: red;
    position: absolute;
}

#p{
    position: relative;
    bottom: 50%;
    font-size: 1.5rem;
    color: white;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Helvetica Neue", sans-serif;
    font-weight: bold;
    overflow-y: hidden;
}

#p button{
    width: 80px;
    height: 50px;
    color: black;
    border-radius: 30px;
    border: solid rgb(255, 255, 255) 2px;
    font-weight: bold;
    cursor: pointer;
}
.gift{
    color: rgb(255, 0, 0);
}
#btn1{
    padding: 10px;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: solid rgb(0, 0, 0);
}

#btn1:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#page1-video-text2 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* page2 starts here */


#page2{
    width: 100%;
    height: 90vh;
    background-color: #f0f0f0;
    margin-top: 200px;
    overflow-x: hidden;
    position: relative;
}

#top-text{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cards{
    width: 200%;
    height: 60vh;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px;
    scrollbar-width: none;
}


.card{
    width: 400px;
    height: 500px;
    border: solid rgb(255, 255, 255) 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.card img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.card-text{
    position: relative;
    top: -10%;
    left: -10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-text h2{
    background-color: #000000;
    color: white;
    width: fit-content;
}

.card:hover{
    transform: scale(1.03);
    transition: ease;
}

#btn{
    padding: 10px;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 10%;
    left: 50%;
    border: solid rgb(0, 0, 0);
}

#btn:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/* page 3 starts here */

#page3{
    width: 100%;
    height: auto;
}

#card1{
    width: 100%;
    height: 50vh;
    background-color: red;
    background-image: url("https://www.beatsbydre.com/content/dam/beats/web/home/2025/11/holidaygiftguide-p02.jpg.large.2x.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat
}

#text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 40%;
    color: white;
    padding: 30px;
}
#text button{
    padding: 10px;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: solid rgb(0, 0, 0);
    margin-top: 20px;
}

#text button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#card2{
    width: 100%;
    height: 50vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#c1, #c2{
    height: 40vh;
    width: 300px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#c1 i, #c2 i{
    font-size: 4rem;
}
#c1 h5 i, #c2 h5 i{
    font-size: 1.5rem;
}
#c1 h5, #c2 h5{
    text-decoration: underline;
    text-underline-offset: 5px;
}

#card3{
    width: 100%;
    height: 80vh;
    background-color: red;
    background-image: url("https://www.beatsbydre.com/content/dam/beats/web/home/hero/powerbeats-pro-2/hero01-gill.jpg.large.2x.jpg");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat
}

#ctext{
    position: relative;
    top: 50%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px;
}
#btn2{
  width: 60px;
  height: 30px;
    border-radius: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: solid rgb(0, 0, 0);
    margin-top: 30px;
}

#btn2:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/* page4 starts from here */

#page4{
    width: 100%;
    height: auto;
    margin-top: 90px;
}

#cards2{
    width: 120%;
    height: 65vh;
    background-color: #f0f0f0;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    padding: 30px;
    margin-top: 50px;

}

.card1{
    width: 370px;
    height: 100%;
    border: solid 2px white;
    background-color: #fff;
}

.card-text1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}
.card1 img{
    width: 350px;
    object-fit: cover;
}

#login-above{
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    padding: 30px;
    color: rgb(110, 103, 103);
}

#login{
    width: 100%;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#login i{
    font-size: 2rem;
}

#login input{
    width: 250px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px white;
    font-weight: bold;
}

#footer{
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    gap: 100px;
}

#table{
    height: 40vh;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    line-height: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer li{
    list-style-type: none;
}

#social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

#social i{
    font-size: 2rem;
}

.h11{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 40px;
}

#span{
    text-align: center;
    margin-top: 30px;
    font-size: small;
}